services:
  api:
    build: .
    ports:
      - "8000:8000"
    depends_on:
      - redis
    env_file:
      - .env
    volumes:
      - .:/usr/local/app

  redis:
    image: redis:alpine
    volumes:
      - redis_data:/data

volumes:
  redis_data:
